<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetJsServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetJsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetJsServlet</servlet-name>
        <url-pattern>/GetJsHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCssServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetCssServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCssServlet</servlet-name>
        <url-pattern>/GetCssHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetImageServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetImageServlet</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDocumentPageImageServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetDocumentPageImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDocumentPageImageServlet</servlet-name>
        <url-pattern>/document-viewer/GetDocumentPageImageHandler/*</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>GetFileServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetFileServlet</servlet-name>
        <url-pattern>/document-viewer/GetFileHandler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetImageUrlsServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetImageUrlsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetImageUrlsServlet</servlet-name>
        <url-pattern>/document-viewer/GetImageUrlsHandler</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetPdf2JavaScriptServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetPdf2JavaScriptServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPdf2JavaScriptServlet</servlet-name>
        <url-pattern>/document-viewer/GetPdf2JavaScriptHandler</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetPrintableHtmlServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetPrintableHtmlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPrintableHtmlServlet</servlet-name>
        <url-pattern>/document-viewer/GetPrintableHtmlHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListAnnotationsServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.ListAnnotationsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ListAnnotationsServlet</servlet-name>
        <url-pattern>/document-annotation/ListAnnotationsHandler</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ExportAnnotationsServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.ExportAnnotationsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ExportAnnotationsServlet</servlet-name>
        <url-pattern>/document-annotation/ExportAnnotationsHandler</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetPdfVersionOfDocumentServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetPdfVersionOfDocumentServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetPdfVersionOfDocumentServlet</servlet-name>
        <url-pattern>/document-annotation/GetPdfVersionOfDocumentHandler</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateAnnotationServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.CreateAnnotationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateAnnotationServlet</servlet-name>
        <url-pattern>/document-annotation/CreateAnnotationHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAvatarServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetAvatarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAvatarServlet</servlet-name>
        <url-pattern>/document-annotation/GetAvatarHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAnnotationReplyServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.AddAnnotationReplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddAnnotationReplyServlet</servlet-name>
        <url-pattern>/document-annotation/AddAnnotationReplyHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAnnotationReplyServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.EditAnnotationReplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditAnnotationReplyServlet</servlet-name>
        <url-pattern>/document-annotation/EditAnnotationReplyHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAnnotationReplyServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.DeleteAnnotationReplyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeleteAnnotationReplyServlet</servlet-name>
        <url-pattern>/document-annotation/DeleteAnnotationReplyHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAnnotationServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.DeleteAnnotationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeleteAnnotationServlet</servlet-name>
        <url-pattern>/document-annotation/DeleteAnnotationHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveTextFieldServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.SaveTextFieldServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SaveTextFieldServlet</servlet-name>
        <url-pattern>/document-annotation/SaveTextFieldHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetTextFieldColorServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.SetTextFieldColorServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SetTextFieldColorServlet</servlet-name>
        <url-pattern>/document-annotation/SetTextFieldColorHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MoveAnnotationMarkerServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.MoveAnnotationMarkerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MoveAnnotationMarkerServlet</servlet-name>
        <url-pattern>/document-annotation/MoveAnnotationMarkerHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadFileBrowserTreeDataServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.LoadFileBrowserTreeDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoadFileBrowserTreeDataServlet</servlet-name>
        <url-pattern>/document-viewer/LoadFileBrowserTreeDataHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewDocumentServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.ViewDocumentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewDocumentServlet</servlet-name>
        <url-pattern>/document-viewer/ViewDocumentHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetFontServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetFontServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetFontServlet</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDocumentCollaboratorsServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetDocumentCollaboratorsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDocumentCollaboratorsServlet</servlet-name>
        <url-pattern>/document-annotation/GetDocumentCollaboratorsHandler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPrintViewServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetPrintViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPrintViewServlet</servlet-name>
        <url-pattern>/document-annotation/GetPrintViewHandler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.UploadFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImportAnnotationsServlet</servlet-name>
        <url-pattern>/document-annotation/ImportAnnotationsHandler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImportAnnotationsServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.ImportAnnotationsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/document-annotation/UploadFileHandler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPrintDocumentPageImageServlet</servlet-name>
        <servlet-class>com.groupdocs.annotation.samples.javaweb.GetPrintDocumentPageImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetPrintDocumentPageImageServlet</servlet-name>
        <url-pattern>/document-annotation/GetPrintDocumentPageImageHandler/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/document-annotation/assets/*</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.supportedMethods</param-name>
            <param-value>GET, POST</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Atmosphere -->
    <servlet>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <init-param>
            <!-- Jersey base package of your resources -->
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.groupdocs.annotation.samples.service</param-value>
        </init-param>
        <!--<init-param>-->
            <!--&lt;!&ndash; Enable Jersey's JSON mapping feature &ndash;&gt;-->
            <!--<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/annotation</url-pattern>
    </servlet-mapping>
</web-app>
